.startNapTien {
    display: block;
    height: 50px;
    width: 150px;
    background-color: rgb(177,227,250);
    border: 5px;
    margin: 0%; 
    border-style: solid;
    border-color: rgb(79, 79, 255);
    border-radius: 5%;
    position: absolute;
    right: 0%;
    top: 0%;
    text-align: center;
    color: rgb(79, 79, 255);
    padding-top: 20px;
}