.startbox3 {
    display: block;
    height: 250px;
    width: 700px;
    background-color: rgb(177,227,250);
    border: 10px;
    border-style: solid;
    border-color: rgb(79, 79, 255);
    cursor: pointer;
}
#getstarted3 {
    color: rgb(79, 79, 255);
    font-size: 330%;
    margin: 0px;
    position: relative;
    left: 0%;
    top: calc(50% - 30px);
}
.startbox3:hover {
    background-color: rgb(186,224,183);   
}
.cacOCuoc {
    display: none;
    height: 600px;
    width: 900px;
    border: 5px;
    border-style: solid;
    border-color: black;
    position: absolute;
    left: calc(50% - 460px);
    top: 70px;
}
.oCuoc {
    width: 300px;
    height: 300px;
    border: 1px;
    background-color: darkgrey;
    border-style: solid;
    border-color: black;
    position: absolute;
}
.chan, .baDo, .bonDo {
    top: 0px;
}
.le, .baTrang, .bonTrang {
    top: 300px;
}
.chan, .le {
    left: 0px;
}
.baDo, .baTrang {
    left: 300px;
}
.bonDo, .bonTrang {
    left: 600px;
}
